@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   
background-color: #0E0E0E;

}
main{
    
    width: 85%;
    
    padding: 70px ;
    margin:  6px auto   ;
    
   
   
    background-color: #FF767F;
    background-image: url(./bg-intro-desktop.png);
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    
    
}
.first{
    margin: 230px 60px;
    
    justify-content: space-between;
    color: white;
}
.second{
    margin: 40px 20px 15px 10px;
    
    
}
.form{
    width: max-content;
 
    
    background-color: whitesmoke;
    align-items: center;
    text-align: left;
    
    border-radius: 10px;
    padding: 15px;
    
}
.free{
    background-color: hsl(248, 32%, 49%) ;
    color: white;
    
    border-radius: 10px;
   /* margin: 80px;*/
   padding: 10px;
   width: 100%;
    align-items: center;
    border: 0cm;
}
.diff{
    color: white;
}
.free:hover, .trial:hover{
    background-color: orangered;
}

.trial{
    background-color:hsl(154, 59%, 51%);
    color: white;
    border-radius: 5px;
    padding: 12px;
    width: 90%;
    align-items: center;
    border: 0cm;
    font-size: 16px;
    margin: 2px 25px;
}
strong{
    color: hsl(0, 100%, 74%) ;
    font-family:'Poppins', sans-serif ;
    font-size: medium;
}

.puts{
    width: 90%;
    border-radius: 5px;
    padding: 12px;
     font-family: 'Poppins', sans-serif;
     font-size: 16px;
     border: 2px solid gainsboro;
    margin: 2px 25px;
    
}
.puts:required:invalid{
    background : url(./icon-error.svg) no-repeat;
    
    background-size: 25px;
    background-position: right;
    
}
h6{
    font-family: 'Poppins', sans-serif;
    font-size: x-large;

}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
a{
    color: red;
    text-decoration: none;
}
@media screen and  (max-width:1440px) {
    body{
        background-color: #FF767F;
        background-image: url(./bg-intro-desktop.png) ;
    }
    main{
        width: 80%;
        padding: 0;
        margin: 14px;
        
    }
    .first{
        padding: 20px;
        width: 50%;
        margin: 30px auto;
   
 }
 .second
 {
    width: 50%;
    margin: 0;
    padding:0 ;
 }
 .form
{width: 135%;
    padding: 2px;
    
}
    
}
@media screen and (max-width:375px) {
    main{
        display: flex;
        flex-direction: column;
        padding: 0;
    justify-content: left;
        
    }
    .first{
        margin: 20px auto;
        padding: 0;
        
    }
    .second{
        width: 80%;
        margin: 2px auto;
    }
    .form{
        width: 120%;
        padding: 0;
        margin: 0;
        
    }
    body{
        background-color: #FF767F;
        background-image: url(./bg-intro-desktop.png) ;
    }
    .trial,.puts{
        padding: 2px;
        
    }
}
